# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
